﻿
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{
    foreach (var item in ViewBag.Event)
    {
        <form action="~/Event/ChangeDetails" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" value="@item.Value.Name" /></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>
                        <input list="types" name="type" value="@item.Value.Type" />
                        <datalist id="types">
                            <option value="CONCERT"></option>
                            <option value="FESTIVAL"></option>
                            <option value="SPORTS_GAME"></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td>NumberOfSeats:</td>
                    <td><input type="number" name="numberofseats" value="@item.Value.NumberOfSeats" /></td>
                </tr>
                <tr>
                    <td>DateTime:</td>
                    <td><input type="text" name="datetime" value="@item.Value.DateTime" /></td>
                </tr>
                <tr>
                    <td>PriceRegular:</td>
                    <td><input type="number" name="priceregular" value="@item.Value.PriceRegular" /></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input type="text" name="location" value="@item.Value.Location" /></td>
                </tr>
                <tr>
                    <td>Venue:</td>
                    <td><input type="text" name="venue" value="@item.Value.Venue" /></td>
                </tr>
                <tr>
                    <td>Picture:</td>
                    <td>
                        <input type="text" name="picture" value="@item.Value.Picture" />
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary" type="submit" value="Add">Change</button>
                    </td>
                </tr>
            </table>
        </form>
    }
}
