﻿
@{
    ViewBag.Title = "Index";
}

<h2>Add event</h2>
<h3>@ViewBag.Message1</h3>

<br />

<form action="~/Event/Add" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input list="types" name="type" />
                <datalist id="types">
                    <option value="CONCERT"></option>
                    <option value="FESTIVAL"></option>
                    <option value="SPORTS_GAME"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>NumberOfSeats:</td>
            <td><input type="number" name="numberofseats" /></td>
        </tr>
        <tr>
            <td>DateTime:</td>
            <td><input type="datetime-local" name="datetime" /></td>
        </tr>
        <tr>
            <td>PriceRegular:</td>
            <td><input type="number" name="priceregular" /></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><input type="text" name="location" /></td>
        </tr>
        <tr>
            <td>Venue:</td>
            <td><input type="text" name="venue" /></td>
        </tr>
        <tr>
            <td>Picture:</td>
            <td>
                <input type="text" name="picture" />
            </td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>
                <input list="statuss" name="status" readonly value="INACTIVE" />
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" type="submit" value="Add">Add</button>
            </td>
        </tr>
    </table>
</form>