﻿@using WebApplication1.Models
@{
    ViewBag.Title = "MoreDetails";
    User user = (User)Session["user"];

    if (user == null)
    {
        user = new User();
        Session["user"] = user;
    }
}

<br />

<style>
    img {
        margin-left: 35%;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

@{
    foreach (var item in ViewBag.Event)
    {
        <img src="@item.Value.Picture" />
        <br />
        <label>Name</label>
        <br />
        <input type="text" value="@item.Value.Name" readonly />
        <br />
        <label>Type</label>
        <br />
        <input type="text" value="@item.Value.Type" readonly />
        <br />
        <label>Number of seats</label>
        <br />
        <input type="text" value="@item.Value.NumberOfSeats" readonly />
        <br />
        <label>Date and time</label>
        <br />
        <input type="text" value="@item.Value.DateTime" readonly />
        <br />
        <label>Price regular</label>
        <br />
        <input type="text" value="@item.Value.PriceRegular" readonly />
        <br />
        <label>Location</label>
        <br />
        <input type="text" value="@item.Value.Location" readonly />
        <br />
        <label>Venue</label>
        <br />
        <input type="text" value="@item.Value.Venue" readonly />
        <br />
        <label>Status</label>
        <br />
        <input type="text" value="@item.Value.Status" readonly />
        <br />
        <br />
        if (user.Role.ToString() == "REGISTRATED" && DateTime.ParseExact(item.Value.DateTime, "yyyy-MM-ddTHH:mm", null) < DateTime.UtcNow)
        {
            <form action="~/Comment/AddComment" method="post">
                <input type="text" name="buyerName" value="@user.Name" />
                <input type="text" name="buyerLastName" value="@user.LastName" />
                <input type="text" name="eventName" value="@item.Value.Name" />
                <input type="text" name="text" />
                <input type="number" name="grade" min="1" max="5" />
                <button type="submit" class="btn-primary" value="Comment">Comment</button>
            </form>
        }

    }

}
<br />
<table>
    <tr>Comments</tr>
    <tr>
        <th>Buyer</th>
        <th>Text</th>
        <th>Grade</th>
        @if (user.Role.ToString() == "ADMINISTRATOR" && user.LoggedIn == true)
        {
            <th>Change Status</th>
            <th>Delete</th>
        }
    </tr>

    @{
        foreach (var item in ViewBag.Comment)
        {
            if (user.Role.ToString() == "REGISTRATED" && item.Value.Status.ToString() == "APPROVED" && item.Value.Deleted == false)
            {
                <tr>
                    <td>@item.Value.BuyerName @item.Value.BuyerLastName</td>
                    <td>@item.Value.Text</td>
                    <td>@item.Value.Grade</td>
                </tr>
            }

            if (user.Role.ToString() == "ADMINISTRATOR" && item.Value.Deleted == false)
            {
                <tr>
                    <td>@item.Value.BuyerName @item.Value.BuyerLastName</td>
                    <td>@item.Value.Text</td>
                    <td>@item.Value.Grade</td>
                    @if (user.LoggedIn == true)
                    {
                        <td>@Html.ActionLink("Change status", "ChangeStatusCom", "Comment", new { id = item.Value.Id }, null)</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Comment", new { id = item.Value.Id }, null)</td>}

                </tr>
            }

            if (user.Role.ToString() == "SELLER" && item.Value.Deleted == false)
            {
                <tr>
                    <td>@item.Value.BuyerName @item.Value.BuyerLastName</td>
                    <td>@item.Value.Text</td>
                    <td>@item.Value.Grade</td>
                </tr>
            }

        }
    }
</table>

