﻿
@{
    ViewBag.Title = "SearchEvent";
}

<h2>@ViewBag.Msg</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>



<form action="~/Event/Search" method="post">
    <input type="text" name="name" placeholder="Event Name" />
    <input type="text" name="location" placeholder="Location" />
    <input type="text" name="venue" placeholder="Venue" />
    <input type="number" name="price" placeholder="Price_min" />
    <input type="number" name="price1" placeholder="Price_max" />
    <input type="datetime-local" name="date" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
    <br />

    <form action="~/Event/SortEvents" method="post">
        <input list="sort1" name="word" />
        <datalist id="sort1">
            <option value="ByNameDescending"></option>
            <option value="ByNameAscending"></option>
            <option value="ByDateTimeDescending"></option>
            <option value="ByDateTimeAscending"></option>
            <option value="ByPriceDescending"></option>
            <option value="ByPriceAscending"></option>
            <option value="ByVenueDescending"></option>
            <option value="ByVenueAscending"></option>
        </datalist>
        <button type="submit" class="btn btn-primary">Sort</button>
    </form>
    <br />

    <form action="~/Event/FilterEvents" method="post">
        <input list="kws1" name="kw" />
        <datalist hidden="hidden" id="kws1">
            <option value="ShowConcerts"></option>
            <option value="ShowFestivals"></option>
            <option value="ShowSportGames"></option>
            <option value="ShowUnsold"></option>
        </datalist>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <br />


<strong>@ViewBag.Message</strong>

@if (ViewBag.Events != null)
{
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>NumberOfSeats</th>
        <th>DateTime</th>
        <th>PriceRegular</th>
        <th>Location</th>
        <th>Venue</th>
        <th>Picture</th>
    </tr>

    @{
        foreach (var item in ViewBag.Events)
        {
            <tr>
                <td>@item.Value.Name</td>
                <td>@item.Value.Type</td>
                <td>@item.Value.NumberOfSeats</td>
                <td>@item.Value.DateTime</td>
                <td>@item.Value.PriceRegular</td>
                <td>@item.Value.Location</td>
                <td>@item.Value.Venue</td>
                <td><img src="@item.Value.Picture" /></td>
            </tr>
        }
    }
</table>
}
