﻿<!DOCTYPE html>

@using WebApplication1.Models
@{
    ViewBag.Title = "Details";
    User user = (User)Session["user"];

    if (user == null)
    {
        user = new User();
        Session["user"] = user;
    }
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (user.LoggedIn == false)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Registration", "Index", "Register")</li>
                        <li>@Html.ActionLink("Log In", "Login", "Register")</li>
                        <li>@Html.ActionLink("Search Event", "SearchEvent", "Event")</li>
                    }
                    @if (user.LoggedIn == true)
                    {
                        <li>@Html.ActionLink("Home", "RegHome", "Register")</li>
                        <li>@Html.ActionLink("Log Out", "LogOut", "Register")</li>
                        <li>@Html.ActionLink("Profile details", "Details", "Register")</li>
                        <li>@Html.ActionLink("Search Event", "SearchEvent", "Event")</li>
                        <li>@Html.ActionLink("Reservations", "SeeReservations", "Reservation")</li>

                        if (user.Role.ToString() == "ADMINISTRATOR")
                        {
                            <li>@Html.ActionLink("All users", "AllUsers", "Register")</li>
                            <li>@Html.ActionLink("Add seller", "AddSeller", "Register")</li>
                            <li>@Html.ActionLink("Search user", "SearchUser", "Register")</li>
                            <li>@Html.ActionLink("Critical users", "ShowCriticalUsers", "Register")</li>
                        }

                        if (user.Role.ToString() == "SELLER")
                        {
                            <li>@Html.ActionLink("Add event", "Index", "Event")</li>
                            <li>@Html.ActionLink("Events", "ShowEvents", "Event")</li>
                        }

                        if (user.Role.ToString() == "REGISTRATED")
                        {
                            <li>@Html.ActionLink("Search reservation", "SearchReservation", "Reservation")</li>
                        }


                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
