﻿
@{
    ViewBag.Title = "Confirm";
}

<form action="~/Reservation/ConfirmReservation" method="post">
    <br />
    <label>Quantity</label>
    <br />
    <input type="number" name="quantity" value="@ViewBag.Ticket.Quantity" readonly />
    <br />
    <label>Price</label>
    <br />
    <input type="text" name="price" value="@ViewBag.Ticket.Price" readonly />
    <br />
    <br />
    <button class="btn btn-primary" type="submit" value="Confirm">Confirm</button>
    <br />
</form>
