﻿
@{
    ViewBag.Title = "Index";
}

@{
    foreach (var item in ViewBag.Event)
    {
        <br />
        <img src="@item.Value.Picture" />
        <br />
        <label>Name</label>
        <br />
        <input type="text" value="@item.Value.Name" readonly />
        <br />    
        <label>Date and time</label>
        <br />
        <input type="text" value="@item.Value.DateTime" readonly />
        <br />
       
    }
}

        <form action="~/Reservation/Reserve" method="post">
            <label>Quantity</label>
            <br />
            <input type="number" name="quantity" />
            <br />
            <label>Ticket type</label>
            <br />
            <input list="tickets" name="type" />
            <datalist id="tickets">
                <option value="REGULAR"></option>
                <option value="FANPIT"></option>
                <option value="VIP"></option>
            </datalist>
            <br />
            <br />
            <button class="btn btn-primary" type="submit" value="Reserve">Reserve</button>
            <br />
        </form>

<h3>@ViewBag.Msg</h3>