﻿@using WebApplication1.Models
@{
    ViewBag.Title = "SearchReservation";
    User user = (User)Session["user"];

    if (user == null)
    {
        user = new User();
        Session["user"] = user;
    }
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<br />

<form action="~/Reservation/SearchRes" method="post">

    <input placeholder="Event name" type="text" name="name" />
    <input placeholder="Price" type="number" name="price" />
    <input placeholder="Price" type="number" name="price1" />
    <input type="datetime-local" name="dateTimeEvent" />
    <button type="submit" class="btn btn-primary">Search</button>

</form>
<br />
<form action="~/Reservation/SortRes" method="post">
    <input list="sort" name="word" />
    <datalist id="sort">
        <option value="ByNameDescending"></option>
        <option value="ByNameAscending"></option>
        <option value="ByDateTimeDescending"></option>
        <option value="ByDateTimeAscending"></option>
        <option value="ByPriceDescending"></option>
        <option value="ByPriceAscending"></option>
    </datalist>
    <button type="submit" class="btn btn-primary">Sort</button>
</form>
<br />
<form action="~/Reservation/FilterRes" method="post">
    <input list="kws2" name="kw" />
    <datalist hidden="hidden" id="kws2">
        <option value="ShowVipTickets"></option>
        <option value="ShowRegularTickets"></option>
        <option value="ShowFanpitTickets"></option>
        <option value="ShowReservedTickets"></option>
        <option value="ShowCanceledTickets"></option>
    </datalist>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<br />
<br />
<h2>@ViewBag.Msg</h2>
<strong>@ViewBag.Message</strong>

@if (ViewBag.Reservations != null)
{
    <table>
        <tr>
            <th>Event name</th>
            <th>Date and time</th>
            <th>Price</th>
            <th>Buyer name</th>
            <th>Buyer lastname</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Status</th>

        </tr>

        @{
            foreach (var item in ViewBag.Reservations)
            {
                if (item.Value.BuyerName == user.Name && item.Value.BuyerLastName == user.LastName)
                {
                    <tr>
                        <td>@item.Value.EventName</td>
                        <td>@item.Value.DateTimeEvent</td>
                        <td>@item.Value.Price</td>
                        <td>@item.Value.BuyerName</td>
                        <td>@item.Value.BuyerLastName</td>
                        <td>@item.Value.Type</td>
                        <td>@item.Value.Quantity</td>
                        <td>@item.Value.Status</td>


                    </tr>
                }


            }
        }
    </table>
}

