﻿@using WebApplication1.Models
@{
    ViewBag.Title = "SeeReservations";
    User user = (User)Session["user"];

    if (user == null)
    {
        user = new User();
        Session["user"] = user;
    }
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<br />
<table>
    <tr>
        <th>Event name</th>
        <th>Date and time</th>
        <th>Price</th>
        <th>Buyer name</th>
        <th>Buyer lastname</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Status</th>
        @if (user.Role.ToString() == "REGISTRATED")
        {
            <th>Cancel</th>}
        @if (user.Role.ToString() == "ADMINISTRATOR")
        {
            <th>Delete</th>}

    </tr>

    @{
        foreach (var item in ViewBag.Reservation)
        {
            if (item.Value.BuyerName == user.Name && item.Value.BuyerLastName == user.LastName && item.Value.Status.ToString() == "RESERVED")
            {
                <tr>
                    <td>@item.Value.EventName</td>
                    <td>@item.Value.DateTimeEvent</td>
                    <td>@item.Value.Price</td>
                    <td>@item.Value.BuyerName</td>
                    <td>@item.Value.BuyerLastName</td>
                    <td>@item.Value.Type</td>
                    <td>@item.Value.Quantity</td>
                    <td>@item.Value.Status</td>
                    <td>@Html.ActionLink("Cancel", "CancelReservation", "Reservation", new { id = item.Value.Id }, null)</td>

                </tr>
            }

            if (user.Role.ToString() == "ADMINISTRATOR")
            {
                if (item.Value.Deleted == false)
                {
                <tr>
                    <td>@item.Value.EventName</td>
                    <td>@item.Value.DateTimeEvent</td>
                    <td>@item.Value.Price</td>
                    <td>@item.Value.BuyerName</td>
                    <td>@item.Value.BuyerLastName</td>
                    <td>@item.Value.Type</td>
                    <td>@item.Value.Quantity</td>
                    <td>@item.Value.Status</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Reservation", new { id = item.Value.Id }, null)</td>
                </tr>
                }
            }

            if (user.Role.ToString() == "SELLER" && item.Value.EventBelongs == user.Username && item.Value.Status.ToString() == "RESERVED")
            {
                <tr>
                    <td>@item.Value.EventName</td>
                    <td>@item.Value.DateTimeEvent</td>
                    <td>@item.Value.Price</td>
                    <td>@item.Value.BuyerName</td>
                    <td>@item.Value.BuyerLastName</td>
                    <td>@item.Value.Type</td>
                    <td>@item.Value.Quantity</td>
                    <td>@item.Value.Status</td>
                </tr>
            }

        }
    }
</table>

