﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br />
<h1>@ViewBag.Msg</h1>
<br />

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>NumberOfSeats</th>
        <th>DateTime</th>
        <th>PriceRegular</th>
        <th>Location</th>
        <th>Picture</th>
        <th>Status</th>
    </tr>

    @{
        foreach (var item in ViewBag.Events)
        {
            if (item.Value.Deleted == false)
            {
            <tr>
                <td>@item.Value.Name</td>
                <td>@item.Value.Type</td>
                <td>@item.Value.NumberOfSeats</td>
                <td>@item.Value.DateTime</td>
                <td>@item.Value.PriceRegular</td>
                <td>@item.Value.Location</td>
                <td><img src="@item.Value.Picture" /></td>
                <td>@item.Value.Status</td>
            </tr>
                }
            }
        }
</table>

<div>@ViewBag.Message</div>