﻿
@{
    ViewBag.Title = "AllUsers";
}

<h2>All Users</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<table>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>LastName</th>
        <th>DateOfBirth</th>
        <th>Gender</th>
        <th>Delete</th>
    </tr>

    @{
        foreach (var item in ViewBag.Users)
        {
            if (item.Value.Deleted == false)
            {
                <tr>
                    <td>@item.Value.Username</td>
                    <td>@item.Value.Name</td>
                    <td>@item.Value.LastName</td>
                    <td>@item.Value.DateOfBirth</td>
                    <td>@item.Value.Gender</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Register", new { username = item.Value.Username }, null)</td>
                </tr>
            }



        }
    }
</table>

<br />
