﻿@using WebApplication1.Models


@{
    ViewBag.Title = "Details";
    User user = (User)Session["user"];

    if(user == null)
    {
        user = new User();
        Session["user"] = user;
    }
}

<h2>Details</h2>

<form action="~/Register/ChangeDetails" method="post">
    <label>Username</label>
    <br />
    <input type="text" name="username" value="@user.Username" />
    <br />

    <label>Name</label>
    <br />
    <input type="text" name="name" value="@user.Name" />
    <br />

    <label>LastName</label>
    <br />
    <input type="text" name="lastname" value="@user.LastName" />
    <br />

    <label>Password</label>
    <br />
    <input type="password" name="password" value="@user.Password" />
    <br />

    <label>Gender</label>
    <br />
    <input type="text" name="gender" value="@user.Gender" />
    <br />

    <label>DateOfBirth</label>
    <br />
    <input type="text" name="dateofbirth" value="@user.DateOfBirth" />
    <br />

    <br />
    <button class="btn btn-primary" type="submit" value="Change">Change</button>
</form>


