﻿
@{
    ViewBag.Title = "Index";
}

<h2>Register</h2>

<form action="~/Register/Add" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td><input type="text" name="lastname" /></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="date" name="dateofbirth" /></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input list="genders" name="gender" />
                <datalist id="genders">
                    <option value="Male"></option>
                    <option value="Femmale"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>
                <input list="roles" name="role" readonly value="REGISTRATED" />
            </td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input list="types" name="type" readonly value="BRONZE" />
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" type="submit" value="Register">Register</button>
            </td>
        </tr>
    </table>
</form>

