﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="~/Register/LoginUser" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary" value="Login" >Login</button>
            </td>
        </tr>
    </table>
</form>
