﻿@using WebApplication1.Models
@{
    ViewBag.Title = "RegHome";
    User user = (User)Session["user"];

    if (user == null)
    {
        user = new User();
        Session["user"] = user;
    }
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br />
<h1>@ViewBag.Warning</h1>
<h2>@ViewBag.Por</h2>
<br />

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>NumberOfSeats</th>
        <th>DateTime</th>
        <th>PriceRegular</th>
        <th>Location</th>
        <th>Picture</th>
        <th>Status</th>
        <th>MoreDetails</th>
        @if (user.Role.ToString() == "ADMINISTRATOR")
        {
            <th>Change Status</th>
            <th>Delete</th>
        }

        @if (user.Role.ToString() == "SELLER")
        {
            <th>Change Details</th>}
        @if (user.Role.ToString() == "REGISTRATED")
        {
            <th>Reserve</th>}

    </tr>

    @{
        foreach (var item in ViewBag.Events)
        {
            if (item.Value.Deleted == false)
            {
            <tr>
                <td>@item.Value.Name</td>
                <td>@item.Value.Type</td>
                <td>@item.Value.NumberOfSeats</td>
                <td>@item.Value.DateTime</td>
                <td>@item.Value.PriceRegular</td>
                <td>@item.Value.Location</td>
                <td><img src="@item.Value.Picture" /></td>
                <td>@item.Value.Status</td>
                <td>@Html.ActionLink("More details", "MoreDetails", "Event", new { name = item.Value.Name }, null)</td>
                @if (user.Role.ToString() == "ADMINISTRATOR")
                {
                    <td>@Html.ActionLink("Change status", "ChangeStatus", "Event", new { name = item.Value.Name }, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Event", new { name = item.Value.Name }, null)</td>
                }
                @if (user.Role.ToString() == "SELLER" && user.Username == item.Value.Belongs && item.Value.Status.ToString() == "ACTIVE")
                {
                    <td>@Html.ActionLink("Change details", "Details", "Event", new { name = item.Value.Name }, null)</td>}
                @if (user.Role.ToString() == "REGISTRATED" && item.Value.Status.ToString() == "ACTIVE" && DateTime.ParseExact(item.Value.DateTime, "yyyy-MM-ddTHH:mm", null) > DateTime.UtcNow)
                {
                    <td>@Html.ActionLink("Reserve", "Index", "Reservation", new { name = item.Value.Name }, null)</td>}

            </tr>
                }

            }
        }
</table>


