﻿
@{
    ViewBag.Title = "SearchUser";
}

<h2>Search User</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <form action="~/Register/SearchResult" method="post">
        <input type="text" name="keyword" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br />


    <form action="~/Register/Sort" method="post">
        <input list="words2" name="word" />
        <datalist hidden="hidden" id="words2">
            <option value="ByUsernameDescending"></option>
            <option value="ByUsernameAscending"></option>
            <option value="ByNameDescending"></option>
            <option value="ByNameAscending"></option>
            <option value="ByLastNameDescending"></option>
            <option value="ByLastNameAscending"></option>
            <option value="ByPointsDescending"></option>
            <option value="ByPointsAscending"></option>
        </datalist>
        <button type="submit" class="btn btn-primary">Sort</button>
    </form>
    <br />

    <form action="~/Register/Filter" method="post">
        <input list="kws" name="kw" />
        <datalist hidden="hidden" id="kws">
            <option value="ShowAdmins"></option>
            <option value="ShowRegisters"></option>
            <option value="ShowSellers"></option>
            <option value="ShowBronzeUsers"></option>
            <option value="ShowSilverUsers"></option>
            <option value="ShowGoldUsers"></option>
        </datalist>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

</div>
<br />

<strong>@ViewBag.Message</strong>
<h2>@ViewBag.Msg</h2>

@if (ViewBag.User != null)
{
    <table>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>LastName</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>Points</th>
        </tr>

        @{
            foreach (var item in ViewBag.User)
            {
                <tr>
                    <td>@item.Value.Username</td>
                    <td>@item.Value.Name</td>
                    <td>@item.Value.LastName</td>
                    <td>@item.Value.DateOfBirth</td>
                    <td>@item.Value.Gender</td>
                    <td>@item.Value.Points</td>
                </tr>


            }
        }
    </table>


}